<section class="baner">
  <div class="baner__container">
    <div class="baner__left">
      <div class="baner__left-title">
        MAKE YOUR NO-CODE WEBSITE. YOU HABE A VISION. WE HAVE A WAY TO<br> GET YOU THERE.
      </div>
      <div class="baner__left-text">
        Iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa quae illo
        inventore veritatis quasi.
      </div>
    </div>
    <div class="baner_right">
      <img src="../../img/banner/banner-2.svg" class="baner__right-img-deco">
      <img src="../../img/banner/banner-1.png" alt="#" class="baner__right-img">
    </div>
  </div>
</section>