<section class="blogs">
  <div class="blogs__container">
    <div class="blogs__title">
      LATEST BLOGS
    </div>
    <div class="blogs__top">
      <div class="blogs__top-desc">
        Dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas
        molestias.
      </div>
      <div class="blogs__top-btn">
        <a href="#">View all posts</a>
      </div>
    </div>
    <div class="blogs__bottom">
      <div class="blogs__bottom-item">
        <div class="blogs__bottom-item-img">
          <img src="../../img/blogs/blogs-1.png" alt="blogs">
        </div>
        <div class="blogs__bottom-item-section">
          <p>Design system</p>
        </div>
        <div class="blogs__bottom-item-title">
          How many participants for a ux interview
        </div>
        <div class="blogs__bottom-item-desc">
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
          dolores eos.
        </div>
        <div class="blogs__bottom-item-link">
          <a href="#">Read more</a>
        </div>
      </div>
      <div class="blogs__bottom-item">
        <div class="blogs__bottom-item-img">
          <img src="../../img/blogs/blogs-2.png" alt="blogs">
        </div>
        <div class="blogs__bottom-item-section">
          <p>Design system</p>
        </div>
        <div class="blogs__bottom-item-title">
          How many participants for a ux interview
        </div>
        <div class="blogs__bottom-item-desc">
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
          dolores eos.
        </div>
        <div class="blogs__bottom-item-link">
          <a href="#">Read more</a>
        </div>
      </div>
    </div>
  </div>
</section>