<footer class="footer">
  <div class="footer__container">
    <div class="footer__top">
      <div class="footer__top-logo">
        <a href="#">
        <img src="../../img/common/logo.svg" alt="logo">
        </a>
      </div>
      <div class="footer__top-links">
        <a href="#">Home</a>
        <a href="#">Projects</a>
        <a href="#">Blog</a>
        <a href="#">Shop</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer__bottom-copyright">
        © Veronica by <span>Minimal Square</span>. Powered by <span>Webflow</span>.
      </div>
      <div class="footer__bottom-sections">
        <a href="#">Style Guide</a>
        <a href="#">Licenses</a>
        <a href="#">Changelog</a>
      </div>
    </div>
  </div>
</footer>