<section class="info">
  <div class="info__container">
    <div class="info__top">
      <div class="info__top-title">
        I’M VERONICA, YOUR GO-TO NO-CODE<br> WEB DESIGNER AND BRANDING EXPERT
      </div>
      <div class="info__top-img">
        <img src="../../img/info/info-2.svg" alt="info">
        <img src="../../img/info/info-1.png" alt="info">
      </div>
    </div>
    <div class="info__bottom">
      <div class="info__bottom-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div class="info__bottom-btn">
        <a href="#">Learn more about me</a>
      </div>
    </div>
  </div>
</section>