<section class="projects">
  <div class="projects__container">
    <div class="projects__top">
      <div class="projects__top-left">
        <div class="projects__top-left-title">
          SELECTED PROJECTS
        </div>
        <div class="projects__top-left-text">
          Sed ut dolor sit amet, consectetur adipiscing elit. Phasellus ac ipsum a lectus vulputate porta vitae non
          enim. Donec et ante leo.
        </div>
      </div>
      <div class="projects__top-right">
        <div class="projects__top-right-btn">
          <a href="#">View all projects</a>
        </div>
      </div>
    </div>
    <div class="projects__bottom">
      <img src="../../img/projects/projects-1.png" alt="project">
      <img src="../../img/projects/projects-2.png" alt="project">
    </div>
  </div>
</section>