<section class="views">
  <div class="views__container">
    <div class="views__items">
      <div class="views__items-item">
        <div class="views__items-item-content">
        <div class="views__items-item-desc">
          Fantastic work. such an efficient streamlined way to obtain a design. Super happy thanks!
        </div>
        <div class="views__items-item-img">
          <img src="../../img/views/views-1.svg" alt="views">
        </div>
        <div class="views__items-item-name">
          Kelly Williams
        </div>
        <div class="views__items-item-position">
          Head of Design, Layers
        </div>
        <div class="views__items-item-stars">
          <img src="../../img/views/views-2.svg" alt="views">
          <img src="../../img/views/views-2.svg" alt="views">
          <img src="../../img/views/views-2.svg" alt="views">
          <img src="../../img/views/views-2.svg" alt="views">
          <img src="../../img/views/views-2.svg" alt="views">
        </div>
        </div>
      </div>
      <div class="views__items-item">
        <div class="views__items-item-content">
        <div class="views__items-item-desc">
          Fantastic work. such an efficient streamlined way to obtain a design. Super happy thanks!
        </div>
        <div class="views__items-item-img">
          <img src="../../img/views/views-1.svg" alt="views">
        </div>
        <div class="views__items-item-name">
          Kelly Williams
        </div>
        <div class="views__items-item-position">
          Head of Design, Layers
        </div>
        <div class="views__items-item-stars">
          <img src="../../img/views/views-2.svg" alt="views">
          <img src="../../img/views/views-2.svg" alt="views">
          <img src="../../img/views/views-2.svg" alt="views">
          <img src="../../img/views/views-2.svg" alt="views">
          <img src="../../img/views/views-2.svg" alt="views">
        </div>
        </div>
      </div>
    </div>
    <div class="views__items">
      <div class="views__items-item">
        <div class="views__items-item-content">
        <div class="views__items-item-desc">
          Fantastic work. such an efficient streamlined way to obtain a design. Super happy thanks!
        </div>
        <div class="views__items-item-img">
          <img src="../../img/views/views-1.svg" alt="views">
        </div>
        <div class="views__items-item-name">
          Kelly Williams
        </div>
        <div class="views__items-item-position">
          Head of Design, Layers
        </div>
        <div class="views__items-item-stars">
          <img src="../../img/views/views-2.svg" alt="views">
          <img src="../../img/views/views-2.svg" alt="views">
          <img src="../../img/views/views-2.svg" alt="views">
          <img src="../../img/views/views-2.svg" alt="views">
          <img src="../../img/views/views-2.svg" alt="views">
        </div>
        </div>
      </div>
      <div class="views__items-item">
        <div class="views__items-item-content">
        <div class="views__items-item-desc">
          Fantastic work. such an efficient streamlined way to obtain a design. Super happy thanks!
        </div>
        <div class="views__items-item-img">
          <img src="../../img/views/views-1.svg" alt="views">
        </div>
        <div class="views__items-item-name">
          Kelly Williams
        </div>
        <div class="views__items-item-position">
          Head of Design, Layers
        </div>
        <div class="views__items-item-stars">
          <img src="../../img/views/views-2.svg" alt="views">
          <img src="../../img/views/views-2.svg" alt="views">
          <img src="../../img/views/views-2.svg" alt="views">
          <img src="../../img/views/views-2.svg" alt="views">
          <img src="../../img/views/views-2.svg" alt="views">
        </div>
        </div>
      </div>
    </div>
  </div>
</section>